<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<main class="main">
  <div class="container">
    <h1>{{ title }}</h1>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="card mb-5">
          <div class="card-body">
            <form class="row row-cols-lg-auto g-3 align-items-center">
              <div class="col-12">
                <label class="visually-hidden" for="new-task-title">Task</label>
                <input type="text" class="form-control" id="new-task-title" name="task-title" [(ngModel)]="newTaskTitle"
                  placeholder="Task">
              </div>

              <div class="col-12">
                <label class="visually-hidden" for="new-task-priority">Task</label>
                <select class="form-select" id="new-task-priority" name="task-priority" [(ngModel)]="newTaskPriority">
                  <option>Low</option>
                  <option>Medium</option>
                  <option>High</option>
                </select>
              </div>

              <div class="col-12">
                <label class="visually-hidden" for="inlineFormInputGroupTask">Task</label>
                <select class="form-select" id="new-task-recurring" name="task-recurring"
                  [(ngModel)]="newTaskRecurring">
                  <option value="">None</option>
                  <option>Daily</option>
                  <option>Weekly</option>
                  <option>Monthly</option>
                </select>
              </div>

              <div class="col-12">
                <label class="visually-hidden" for="inlineFormInputGroupTask">Dependencies</label>
                <select class="form-select" id="new-task-dependencies" name="task-dependencies" multiple
                  [(ngModel)]="newTaskDependencies">
                  <option value="">None</option>
                  <option *ngFor="let task of filteredTasks()">{{ task.title }}</option>
                </select>
              </div>

              <div class="col-12">
                <button type="submit" class="btn btn-primary" (click)="cerateTask()">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <h3 class="m-0 p-0">Task List</h3>
              </div>

              <div class="col-auto">
                <form class="row float-end">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." name="search"
                      [(ngModel)]="searchTerm" />
                    <button class="btn btn-outline-secondary" type="button" (click)="filteredTasks()">Search</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Task</th>
                  <th scope="col">Recurring</th>
                  <th scope="col">Priority <span class="btn btn-sm py-0 " (click)="sortByPriority()">&#8597;</span></th>
                  <th scope="col">Status <span class="btn btn-sm py-0 " (click)="sortByStatus()">&#8597;</span></th>
                  <th scope="col">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let task of filteredTasks();  let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ task.title }}</td>
                  <td>{{ task.recurring ? task.recurring : '-' }}</td>
                  <td>{{ task.priority }}</td>
                  <td>{{ task.done ? 'Completed' : 'Pending'}}</td>
                  <td>
                    <button type="button" class="btn btn-success me-2" (click)="completeTask(task)"
                      [disabled]="hasIncompleteDependencies(task) || task.done">{{ task.done ? 'Completed' : 'Complete'}}</button>
                    <!-- <button type="button" class="btn btn-primary me-2">Edit</button> -->
                    <button type="button" class="btn btn-danger" (click)="deleteTask(task)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
